@{
  ViewData["Title"] = "Platform";
}

<div class="game-container text-center">
    <h2>Marmotta Platform Game!</h2>
    <canvas id="gameCanvas" width="1100" height="550" style="border:2px solid #000; background: #87CEEB;"></canvas>
</div>

<script type="module" src="~/js/platform.js"></script>
